<section class="resume-section p-4 p-lg-5 text-center bg-secondary" id="contact">
        <div class="my-auto">
          <h2 class="mb-4 text-center"> Contact Us here</h2>

         
            <p id="mail-address">
<!--               Replace with your email address -->
                <i class="text-center"></i><a>youremail@mail.com</a>
             
            </p>
            <p>
              <i class="fas fa-mobile-alt mr-2 contact-icons"></i>+88 888 888
            </p>
            <p>
              <i class="fas fa-map-marker-alt mr-2 contact-icons"></i>Vienna, AUS
            </p>
          

          <p>
            ...for Newsletter infos just use the relevant # in the Message form .
          </p>

          <form
            class="contact-form d-flex flex-column align-items-center"
            action="https://formspree.io/youremail@mail.com"
            method="POST"
          >
            <div class="form-group w-75">
              <input
                type="name"
                class="form-control"
                placeholder="Name"
                name="name"
                required
              />
            </div>
            <div class="form-group w-75">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="name"
                required
              />
            </div>

            <div class="form-group w-75">
              <textarea
                class="form-control"
                type="text"
                placeholder="Message"
                rows="7"
                name="name"
                required
              ></textarea>
            </div>

            <button type="submit" class="btn btn-submit btn-info w-75">Submit</button>
          </form>
        </div>
      </section>