<!-- Header -->
<header class=" text-center py-2 mb-3">
  <div class="container">
    <h1 class="font-weight-light text-light bg-secondary">Meet the Team</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow bg-info">
        <img src="https://i.pinimg.com/originals/56/0c/90/560c90c76a1ac3f31cbb4b3b7ddbd098.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Web Developer<br><b>lorem@gmx.at</b></div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4 ">
      <div class="card border-0 shadow bg-info">
        <img src="https://i.pinimg.com/236x/ab/42/1b/ab421ba1daafd152c2fe48868ee5ea24--lord-rings-lord-of-the-rings.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Web Developer <br><b>lorem@gmx.at</b></div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow bg-info">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/c/cb/Gandalf_in_the_Shire.jpg/revision/latest/scale-to-width-down/340?cb=20151031231050&path-prefix=de" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Web Developer<br><b>lorem@gmx.at</b></div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow bg-info">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/4/43/Gimli.jpg/revision/latest/top-crop/width/360/height/450?cb=20080218173241&path-prefix=de" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Web Developer<br><b>lorem@gmx.at</b></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
