<div  class="container">
<div class="row">
	<div class="col ">
		
	
<div id="bcolord" class=" mt-5 ml-2 p-2 mb-5">
  <h3>{{heroHeading1}}</h3>
  <h1>{{heroHeading2}}</h1>
  <p>{{heroText}}</p>
  <p><a class="btn btn-primary btn-lg"  href ="{{heroBtnUrl}}" role="button">{{heroBtnText}}</a></p>
</div>
</div>
<div class="col">
<div id="bcolorw" class=" mt-5 ml-2 p-2	mb-5">
  <h3>{{heroHeading3}}</h3>
  <h1>{{heroHeading4}}</h1>
  <p>{{heroText3}}</p>
  <p><a class="btn btn-primary btn-lg"  href ="{{heroBtnUrl}}" role="button">{{heroBtnText3}}</a></p>
</div>
</div>
<div class="col">
<div id="bcolorg" class=" mt-5 ml-2 p-2 mb-5">
  <h3>{{heroHeading5}}</h3>
  <h1>{{heroHeading6}}</h1>
  <p>{{heroText5}}</p>
  <p><a class="btn btn-primary btn-lg"  href ="{{heroBtnUrl}}" role="button">{{heroBtnText}}</a></p>
</div>
</div>
</div>
</div>