<hr>
<div class="cartc">
    

<div class="cart-item" *ngFor="let product of products; index as i">
    <span>{{ product.name }} </span>
    <span>{{ product.price | currency }}</span><br>
    <span> {{product.quantity}}</span>
    <span> Total {{product.total}}</span>
    <button class="w3-button w3-circle w3-black" (click)="plus(i)"> +</button>

    <button class="w3-button w3-circle w3-teal" (click)="minus(i)">  -</button>

    <button class="w3-button w3-circle w3-red" (click)="removeItem(i)">  X</button>

</div>
<br>
<div class="cart-item">
</div>

<p class="btn btn-warning mr-3" (click)="total()">Your total is <br> hiding in the console! </p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
        <label for="name">
          Full Name:
        </label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="address">
          Address:
        </label>
        <input id="address" type="text" formControlName="address">
    </div>


    <button class="button mt-2 mb-4" type="submit">Purchase</button>

</form>
<br> <br>
<button class='btn btn-outline-light my-2 my-sm-0 mr-3' routerLink='/tours'>Back to Vacations</button>
</div>
